In [22]:
import pandas as pd
import os

In [23]:
os.path.isfile('Resources/ratings.csv')

True

In [19]:
kaggle_metadata = pd.read_csv('Resources/movies_metadata.csv', low_memory=False)
ratings = pd.read_csv('Resources/ratings.csv')

In [20]:
ratings.tail()

          userId  movieId  rating   timestamp
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858